<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <!--v-app包含该页面所有内容，v-app标签仅能使用一次-->
    <div id="login_page">
        <v-app>
            <!--导航栏公用代码,详见navigation.js-->
            <div>
                <navigation></navigation>
            </div>

            <div>
                <v-img src = "images/login.png" contain max-height="80" class="ma-12"></v-img>
            </div>

            <div id="login_container" class="mx-auto">
                <v-form ref="form" lazy-validation class="ma-12">
                    <v-text-field label="Name" required v-model="id"></v-text-field>
                    <v-text-field label="password" type="password" required v-model="pwd"></v-text-field>
                    <v-btn color="success" @click="req_login" max-width="300" min-width="300">登录</v-btn>
                </v-form>
            </div>

        </v-app>
    </div>

    <script type='text/javascript' src='js/preload.js' charset="UTF-8"></script>
    <script type='text/javascript' src='js/navigation.js' charset="UTF-8"></script>
    <script type='text/javascript' src='js/sign.js' charset="UTF-8"></script>
    
</body>
</html>